@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #48C9B0;
}

.button {
  padding: 15px;
  width: 63px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 40%;
  cursor: pointer;
  background-color: #AED6F1;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.row {
  margin: 8px 0;
  width: 23vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row input {
  width: 291px;
  font-size: 20px;
  margin: 0;
  padding: 7px 5px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.container {
  border: 2px solid black;
  width: 30%;
  border-radius: 10px;
  padding: 10px 0px;
  background-color: #C0C0C0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}


/* Default styles */

/* Add this line at the end of the existing CSS */
@media only screen and (max-width: 768px) {
  .container {
    width: 80%;
  }

  .row {
    width: 90%;
  }

  .row input {
    width: 100%;
  }

  .button {
    width: 18%;
    margin: 0.5%;
  }
}
